{% extends 'tem_layout/web_struc.html' %} {% block titile_web %} {{web_title}}
{% endblock titile_web %} {% block main_content %}
<div class="bg-light ps-3 pe-3">
  <div class="pt-2 mb-3">
    <div class="fs-4 fw-bold">Edit Blogs</div>
  </div>
  <div class="mb-3">
    <p>
      <a class="text-decoration-none" href="{% url 'blogs:home' %}">Home</a> > Edit
    </p>
  </div>

  <div class="row">
    <form action="{% url 'blogs:edit_blogs' blog_lists.id %}" method="POST" class="col-sm-12 col-md-7 needs-validation" novalidate>
      {% csrf_token %}
      <div class="mb-2">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="" class="form-control border border-warning" placeholder="Blog Name..." value="{{blog_lists.title}}"/>
    
        {% if form.errors.title %}
        <div class="invalid-feedback d-block" id="">Title is required</div>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea name="content" class="form-control border border-warning" id="" rows="3" placeholder="Blog Content...">{{blog_lists.content}}</textarea>
        {% if form.errors.content %}
        <div class="invalid-feedback d-block" id="">content is required</div>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="create_by" class="form-label">Create by</label>
        <input
          type="text"
          name="create_by"
          class="form-control border border-warning"
          id=""
          placeholder="Create by Name..."
          value="{{blog_lists.create_by}}"
        />
        {% if form.errors.create_by %}
        <div class="invalid-feedback d-block" id="">create_by is required</div>
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="blog_type" class="form-label">Blogtype</label>
        <select name="blog_type" class="form-select border border-warning" id="id_blog_type">
                {% for instance in form.blog_type.field.queryset %}
                    {% if instance.id == blog_lists.blog_type.id %}
                    <option value="{{ blog_lists.blog_type.id }}" selected="selected">{{ instance.type_name }}</option>
                    {% else %}
                    <option value="{{ instance.id }}" >{{ instance.type_name }}</option>
                    {% endif %}
                {% endfor %}
        </select>
        {% if form.errors.blog_type %}
        <div class="invalid-feedback d-block" id="">blog_type is required</div>
        {% endif %}
      </div>

      <div class="mb-4">
        <label for="blog_hashtags" class="form-label">Blog tags</label>
        <br>
        {% for new_key, tag_name in form.blog_hashtags.field.choices %}
            <div class="form-check form-check-inline">
                {% if form.errors.blog_hashtags %}
                    {% if not "required" in form.errors.blog_hashtags|safe %}
                        {% if new_key|safe in form.errors.blog_hashtags %}
                            <input class="form-check-input is-valid" id="id_blog_hashtags_{{ forloop.counter0 }}" name="{{ form.blog_hashtags.name }}" type="checkbox" value="{{ new_key }}" checked="checked" >
                            <label class="form-check-label" for="blog_hashtags_value">{{ tag_name }}</label>
                        {% else %}
                            <input class="form-check-input is-invalid" id="id_blog_hashtags_{{ forloop.counter0 }}" name="{{ form.blog_hashtags.name }}" type="checkbox" value="{{ new_key }}" >
                            <label class="form-check-label" for="blog_hashtags_value">{{ tag_name }}</label>
                        {% endif %}
                    {% else %}
                        <input class="form-check-input" id="id_blog_hashtags_{{ forloop.counter0 }}" name="{{ form.blog_hashtags.name }}" type="checkbox" value="{{ new_key }}"
                        {% if tag_name in blog_lists.blog_hashtags|safe %} 
                            checked="checked"
                        {% endif %}>
                        <label class="form-check-label" for="blog_hashtags_value">{{ tag_name }}</label>
                    {% endif %}
                {% else %}
                    <input class="form-check-input" id="id_blog_hashtags_{{ forloop.counter0 }}" name="{{ form.blog_hashtags.name }}" type="checkbox" value="{{ new_key }}"
                    {% if tag_name in blog_lists.blog_hashtags|safe %} 
                        checked="checked"
                    {% endif %}>
                    <label class="form-check-label" for="blog_hashtags_value">{{ tag_name }}</label>
                {% endif %}
            </div>
        {% endfor %}
        {% if form.errors.blog_hashtags %}
            {% if "required" in form.errors.blog_hashtags|safe %}
                <div class="invalid-feedback d-block" id="">blog_hashtags is required</div>
            {% else %}
                <div class="invalid-feedback d-block" id="">please selecet at least 2 tag</div>
            {% endif %}
        {% endif %}
      </div>

      <div class="mb-3">
        <div class="btn-group" role="group">
          <input
            type="submit"
            value="Save"
            name="update_blogs"
            class="btn btn-primary text-uppercase"
          />
          <input
            type="reset"
            value="Reset"
            name="Reset"
            class="btn btn-dark text-uppercase"
          />
        </div>
      </div>

      
    </form>
  </div>
</div>

{% endblock main_content %}
