<div class="modal fade" id="show_update_view" tabindex="-1" aria-labelledby="Update-Contacts" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 90%;">
    <div class="modal-content">
      <div class="modal-header mb-2">
        <div class="modal-title text-dark set_title_text" >Update Contacts</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body set_size_form_modal">
        <form name="frm_update_contact" id="frm_update_contact" class="form-inline row align-items-start justify-content-start justify-content-lg-center" action="" method="POST" class="needs-validation" novalidate>
            {% csrf_token %}

                <div class="col-12 col-md-5 col-lg-4 text-right mb-3">
                    <div class="mb-1">
                        <div class="d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">HN#:<span class="text-danger">*</span></span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="hn_update" name="hn">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="hn_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class="d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Title:<span class="text-danger">*</span></span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="title_th_update" name="title_th">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="title_th_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class="d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">First Name:<span class="text-danger">*</span></span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="f_name_th_update" name="f_name_th">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="f_name_th_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Last Name:<span class="text-danger">*</span></span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="l_name_th_update" name="l_name_th">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="l_name_th_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Middle:</span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="m_name_th_update" name="m_name_th">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="m_name_th_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Email:</span>
                            <input type="email" class="form-control form-control-sm cutom_form_control" id="email_update" name="email">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="email_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Mobile Phone#:</span>
                            <input type="tel" class="form-control form-control-sm cutom_form_control" id="mobile_phone_update" name="mobile_phone">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="mobile_phone_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Home#:</span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="home_update" name="home">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="home_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Date of Birth:<span class="text-danger">*</span></span>
                            <input type="date" class="form-control form-control-sm cutom_form_control" id="date_of_birth_update" name="date_of_birth" value="">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="date_of_birth_update"></div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 text-right mb-3">
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Title (EN):<span class="text-danger">*</span></span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="title_en_update" name="title_en">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="title_en_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">First Name (EN):<span class="text-danger">*</span></span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="f_name_en_update" name="f_name_en" >
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="f_name_en_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Last Name (EN):<span class="text-danger">*</span></span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="l_name_en_update" name="l_name_en" >
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="l_name_en_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Middle (EN):</span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="m_name_en_update" name="m_name_en" >
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="m_name_en_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Alternate Email:</span>
                            <div class="cuttom_contant_file d-flex">
                                <input type="email" class="form-control form-control-sm cutom_form_control_2" id="alternate_email_update" name="alternate_email" disabled>
                                <a id="new_alternate_email" class="btn btn-info cutom_button_form_control" data-toggle="modal" data-target="#show_alternate_email_view">
                                <i class="fas fa-list"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Alternate Phone#:</span>
                            <div class="cuttom_contant_file d-flex">
                                <input type="tel" class="form-control form-control-sm cutom_form_control_2" id="alternate_phone_update" name="alternate_phone" disabled>
                                <a id="new_alternate_phone" class="btn btn-info cutom_button_form_control" data-toggle="modal" data-target="#show_alternate_phone_view">
                                <i class="fas fa-list"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Personal Address:</span>
                            <div class="cuttom_contant_file d-flex">
                                <input type="text" class="form-control form-control-sm cutom_form_control_2" id="address_1_update" name="address_1" disabled>
                                <a id="new_personal_address" class="btn btn-info cutom_button_form_control" data-toggle="modal" data-target="#show_personal_address_view">
                                <i class="fas fa-list"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Work#:</span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="work_update" name="work">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="work_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Age:</span>
                            <input type="text" class="form-control form-control-sm cutom_form_control cal_age" id="age_update" name="age" value="" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 text-right mb-3">
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Work Phone Extension:</span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="work_phone_exten_update" name="work_phone_exten">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="work_phone_exten"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Main Fax#:</span>
                            <input type="text" class="form-control form-control-sm cutom_form_control" id="main_fax_update" name="main_fax">
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="main_fax"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Gender:<span class="text-danger">*</span></span>
                            <select name="gender" class="form-control form-control-sm cutom_form_control" id="gender_update">
                                <option value selected="selected" >Please select...</option>
                                {% for instance in form_contact.gender.field.queryset %}
                                    <option value="{{ instance.id }}">{{ instance.genders_title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="gender_update"></div>
                    </div>
                    <div class="mb-1">
                        <div class=" d-flex flex-row justify-content-end">
                            <span class="align-middle set_size_form_modal">Nationality:<span class="text-danger">*</span></span>
                            <select name="nationality" class="form-control form-control-sm cutom_form_control" id="nationality_update">
                                <option value selected="selected" >Please select...</option>
                                {% for instance in form_contact.nationality.field.queryset %}
                                    <option value="{{ instance.id }}">{{ instance.nationality_title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex justify-content-end text-left" err_for="nationality_update"></div>
                    </div>
                </div>

        </form>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-sm btn-info" id="btn_save_update_contact_full">Save</a>
        <a type="button" class="btn btn-sm btn-info" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>